header {
	height: 70px;
	width: 100%;
	background-color: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20px;
}

header div.logo {
	width: 142px;
	height: 60px;
	background-image: url("../images/airbnb_logo.png");
	background-repeat: no-repeat;
}
